h2{
    color:skyblue;
    background-color: darkblue;
    text-align:center;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol {
    background-color: royalblue;
}
li {
    background-color: cornflowerblue;
}
#navbar{
    background-color: cornflowerblue;
    border-style:solid;
    border-color: black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #000080;
    color: #fffaff;
    text-align: center;
    font-size: 50px;
    border: 3px solid #fffaff;
}
.navbar {
    background-color: #fffaff;
    border: solid #000080;
    font-size: 20px;
    position: sticky;
    top: 0px;
}
.navbar th {
    border: solid #000080;
    padding: 5px;
}
footer {
    background-color: #000080;
    color: #fffaff;
    font-size: 12px;
    border: #fffaff;
    padding-left: 5px;
}

.profile {
    background-color: rgb(97, 139, 0);
    text-align: center;
}

body{
    background-image: url(../img/bg1.jpg);
}

.even-row {
    background-color: rgb(0, 255, 55);
}
.wrapper {
    width: 900px;
}
.sidebar-left{
    background-color: pink;
    float: left;
    height: 300px;
    width: 100px;
}
.header{
    background-color: blue;
}
.navbar{
    background-color: yellow;
}
.content{
    background-color: aquamarine;
    height: 300px;
    width: 700px;
    float: left;
}
.sidebar-right{
    background-color: pink;
    height: 300px;
    width: 100px;
    float: right;
}
.footer{
    background-color: blue;
}
a:hover {
    color: blue;
}
.dropdown {
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fffaff;
    color: #000080;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.active {
    background-color: lightcoral;
}
a {
    color: navy;
    text-decoration: none;
}